<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation defaultLanguage="c#" />
    <trust level="Full" />
     <customErrors mode="On" defaultRedirect="Error/index.html">
          <error statusCode="404" redirect="Error/index.html" />
      </customErrors>
  </system.web>

<system.webServer>
<defaultDocument enabled="true">
	<files>
		<add value="/index.html" />
	</files>
</defaultDocument>
 <rewrite>
    <rules>
      <rule name="HTTP to HTTPS redirect" stopProcessing="true"> 
	<match url="(.*)" /> 
	<conditions> 
		<add input="{HTTPS}" pattern="off" ignoreCase="true" />
	</conditions> 
	<action type="Redirect" redirectType="Permanent" url="https://www.mitchaguilar.me/{R:1}" />
     </rule>   
   </rules>
</rewrite>
</system.webServer>

</configuration>