.black {
    background-color: black;
    color: white;
}

.white {
    background-color: gray;
}

.btn {
    padding: 20px;
    color: wheat;
    background-color: brown;
    display: block;
    margin: 3px;
}